//! **************************************************************************
// Written by: Map P.20131013 on Wed Sep 20 21:26:04 2023
//! **************************************************************************

SCHEMATIC START;
COMP "Button" LOCATE = SITE "P47" LEVEL 1;
COMP "D0" LOCATE = SITE "P82" LEVEL 1;
COMP "D1" LOCATE = SITE "P81" LEVEL 1;
COMP "D2" LOCATE = SITE "P80" LEVEL 1;
COMP "D3" LOCATE = SITE "P79" LEVEL 1;
COMP "CLK" LOCATE = SITE "P46" LEVEL 1;
PIN CLK_pin<0> = BEL "CLK" PINNAME PAD;
PIN "CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

