//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 19 02:23:44 2023
//! **************************************************************************

SCHEMATIC START;
COMP "LED0_P82" LOCATE = SITE "P82" LEVEL 1;
COMP "clk_P123" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

