//! **************************************************************************
// Written by: Map P.20131013 on Sat Sep 02 23:34:00 2023
//! **************************************************************************

SCHEMATIC START;
COMP "nA0_P66" LOCATE = SITE "P66" LEVEL 1;
COMP "nA1_P62" LOCATE = SITE "P62" LEVEL 1;
COMP "nA2_P61" LOCATE = SITE "P61" LEVEL 1;
COMP "nB0_P58" LOCATE = SITE "P58" LEVEL 1;
COMP "overFlow_P82" LOCATE = SITE "P82" LEVEL 1;
COMP "nB1_P57" LOCATE = SITE "P57" LEVEL 1;
COMP "P40" LOCATE = SITE "P40" LEVEL 1;
COMP "P32" LOCATE = SITE "P32" LEVEL 1;
COMP "P41" LOCATE = SITE "P41" LEVEL 1;
COMP "nA3_P59" LOCATE = SITE "P59" LEVEL 1;
COMP "P34" LOCATE = SITE "P34" LEVEL 1;
COMP "P35" LOCATE = SITE "P35" LEVEL 1;
COMP "P27" LOCATE = SITE "P27" LEVEL 1;
COMP "P29" LOCATE = SITE "P29" LEVEL 1;
COMP "nB2_P56" LOCATE = SITE "P56" LEVEL 1;
COMP "nB3_P55" LOCATE = SITE "P55" LEVEL 1;
SCHEMATIC END;

