

NET "a_P41" LOC = P41;
NET "b_P40" LOC = P40;
NET "c_P35" LOC = P35;
NET "d_P34" LOC = P34;
NET "e_P32" LOC = P32;
NET "g_P27" LOC = P27;
NET "clk_P123" LOC = P123;
NET "f_P29" LOC = P29;
NET "Led1_P67" LOC = P67;

NET "QA_LSB" LOC = P82;
NET "QB" LOC = P81;
NET "QC" LOC = P80;
NET "QD_MSB" LOC = P79;

# PlanAhead Generated physical constraints 
NET "com0_P44" LOC = P44;
NET "com1_P43" LOC = P43;
NET "com3_P30" LOC = P30;
NET "com2_P33" LOC = P33;

NET "Led1_P67" LOC = P67;
